@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#items-nav,
#logo {
  animation: fadeIn 750ms forwards;
}