:root {
    font-size: 100%;
    --bg-nav: #05040B;
    --bg-all: #090712;
    --bg-section: #0D0A1A;
    --primary-pink: #FF385C;
    --size-title-a1: 3.7rem;
    --size-span-alt: 1.58rem;
    --size-spacement: 3.75rem;
    --size-letter-3597: 2.24rem
}

::selection {
  background-color: var(--primary-pink);
  color: white;
}

img{
    max-width: 100%; 
    height: auto;
}

* {
    margin: 0 auto;
    padding: 0;
    font-family: "Inter", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    /* font-size: var(--size-span-alt); */
    color: white;
}

body {
    background-color: var(--bg-all);
    height: 1000px;
}

nav {
    height: 4rem ;
    min-width: 100%;
    border-bottom: 1px solid var(--primary-pink);
    background-color: var(--bg-nav);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 90;
}

hr {
    width: 100%;
}

main {
    max-width: 62.24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 40;
}

header > h1 {
    color: white;
    text-align: center;
    font-size: var(--size-title-a1);

}

h1 > span {
    color: var(--primary-pink);  
}

header > p, strong {
    text-align: center;
    font-size: var(--size-span-alt);
    color: white;
}

header {
    box-sizing: border-box;
    margin-top: var(--size-spacement);
    margin-bottom: calc(var(--size-spacement) + 10px);
    position: relative;
    z-index: 30;
    margin-top: -5rem;
}

.blow-blur-effect {
    height: 15rem;
    width: 30rem;
    border-radius: 100rem;
    background-color: var(--primary-pink);
    filter:blur(15rem);
    margin-top: -10rem;
    margin-right: 1.5rem;
    position: relative;
    z-index: 20;
}

header > p > strong {
    text-decoration: underline;
    text-underline-offset: 1.25rem;
    text-decoration-thickness: 0.25rem;
    text-decoration-color:var(--primary-pink); 
    font-style: italic;
}

iframe {
    border-color: var(--primary-pink);
    border-radius: 1.70rem;
}

main > div {
    font-size: calc(var(--size-span-alt) - 0.16rem);
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.price, .price > strong{
    width: 100%;
}

.price > strong:first-child {
    font-style: italic;
    text-decoration: line-through;
}

.btn-highlight--pink {
    padding: 1.25rem 3.75rem;
    font-size: calc(var(--size-span-alt) - 0.5rem);
    color: white;
    border: none;
    background-color: var(--primary-pink);
    text-transform: uppercase;
    font-weight: 500;
    box-shadow: 0px 0px 2.5rem var(--primary-pink);
    border-radius: 0.59rem;
    cursor: pointer;
    transition: all .2s;
}

.btn-highlight--pink:hover {
    box-shadow: 0px 0px 25rem var(--primary-pink);
    transform: scale(1.03);

}

.btn-highlight--pink:active {
    transform: scale(0.99);
}

.btn-highlight--pink:visited {
    transform: scale(0.99);
}

body {
    margin-bottom: 6.25rem;
}

.purchase-conditions {
    display: flex;
    width: 47rem;
    row-gap: 4rem;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
}

.purchase-conditions--both {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    transition: .2s ease-in-out all;
    opacity: 0.3;
}

.purchase-conditions--both:hover {
    transform: scale(1.03);
    opacity: 1;
    /* text-shadow: 0px 0px 0.5rem white; */

}

.purchase-conditions--image{
    width: 3.5rem;
    height: 6rem;
}

.purchase-conditions--describe{
    font-size: var(--size-span-alt);
    line-height: 2.5rem;
}

hr {
    border: none;
    height: 0.0625rem;
    background-color: var(--primary-pink); /* Modern Browsers */
}

#purchase-information {
    list-style: none;
    display: flex;
    padding: 4rem;
    background-color: var(--bg-section);
    border-bottom: 1px solid var(--primary-pink);
}

.purchase-information--item {
    width: 20rem;
}

.purchase-information--item > div {
    display: inline-flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 0.6rem;
}

.purchase-information--item > div > img {
    width: 1.9rem;
}

#drone-na-pratica {
    font-size: 1.1rem;
}

.purchase-information--item > div > strong {
    font-size: 1.6rem;
}

.modules {
    margin: 3rem auto;
}

.modules-content {
    /* border: 1px solid aqua; */
    box-sizing: border-box;
    min-width: 30.1rem;
    max-width: 57rem;
    height: auto;
    display: flex;
    flex-direction: column;
}

.modules-content > button {
    margin-top: 4rem;
    margin-bottom: 2.4rem;
}

.modules-content > img {
    width: 4rem;
    margin-bottom: 2rem;

    /* display: inline; */
}

.modules-content > h2 {
    width: 100%;
    font-size: var(--size-title-a1);
    text-align: center;
    margin-bottom: 2rem;
}


.modules-content > h2 > span {
    color: var(--primary-pink);
}

.modules-content__courses {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    padding-inline: 2rem ;
    padding-block: 1rem ;
    gap: 2rem;
}

.modules-content__courses__module {
    border: 1px solid var(--primary-pink);
    padding: 1.5rem;
    max-width: 23rem;
    min-width: 12rem;
    width: 13rem;
    border-radius: 0.4rem;
    transition: all .2s ease-in;
}

.modules-content__courses__module:hover {
    transform: scale(1.03);
}

.modules-content__courses__module > div {
    display: flex;
    justify-content: left;
    padding-bottom: 1rem;
}

.modules-content__courses__module > div > h2 {
    display: inline;
    font-size: 2rem;
}

.modules-content__courses__module > div >  img {
    width: 2.4rem;
}

.modules-content__courses__module > p  {
    margin-left: 0.5rem;
}

.modules-content__courses__module > ul {
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}

.modules-content__courses-for {
    display: grid;
    grid-template-columns: repeat(2, 50%);

    justify-content: start;
    list-style: none;
}

.modules-content__courses-for > li {
    padding: 2rem;
}

#course-for-list {
    display: flex;
    align-items: flex-start;
    gap: 0.6rem;
}

#course-for-list > img {
    width: 3rem;
}

#course-for-list > div > h2 {
    font-size: 2rem;
    margin-bottom: 0.3rem;
}

#course-for-list > div > span {
    font-size: 1rem;
}

#explicacao {
    margin-top: 4rem;
}

#texto-explicativo {
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

#texto-explicativo > span {
    font-weight: bolder;
}

#professora {
    margin-top: 1rem;
}

#professora-info {
    font-size: var(--size-span-alt);
    text-align: center;
}

.modules-content--professora {
    /* border: 1px solid aqua; */
    box-sizing: border-box;
    min-width: 30.1rem;
    max-width: 46rem;
    height: auto;
    display: flex;
    flex-direction: column;
}

.modules-content--professora > h2 {
    width: 100%;
    font-size: var(--size-title-a1);
    text-align: center;
    margin-bottom: 2rem;
}


.modules-content--professora > h2 > span {
    color: var(--primary-pink);
}

.professora-info__descricao {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

#historia-fran {
    box-sizing: border-box;
    width: 65%;
}

#historia-fran > h2{
    padding-top: 4rem;
    padding-bottom: 1rem;
    text-align: start;
}

#historia-fran > p{
    padding-bottom: 1rem;
}

#foto-fran {
    margin-top: 4rem;
    background: rgb(167, 107, 107);
    width: 300px;
    height: 300px;
}

@media (min-width: 375px ) and (max-width: 700px){
    :root {
        font-size: 75%;
    }

    body {
        margin: 0 auto;
    }
    iframe {
        max-width: 100%; 
        height: 15rem; 
        margin: 1rem;
    }

    header {
        box-sizing: border-box;
        width: 90%;
    }

    header > h1 {
        /* background: rgb(103, 69, 69); */
        margin-bottom: 3rem;
    }

    .price {
        max-width: 80%;
    }

    .purchase-conditions {
        display: flex;
        flex-direction: column;
        justify-content: start;
        row-gap: 2rem;
        width: 80%;

    }

    .purchase-conditions--both {
        opacity: 1;
    }

    #purchase-information {
        display: flex;
        flex-direction: column;
        row-gap: 4rem;
        justify-items: center;
        align-items: center;
        max-width: 100%;
        /* width: 70%; */
    }

    .purchase-information--item {
        width: 70%;
    }

    .modules-content__courses, .modules-content__courses-for, .modules-content, .professora-info__descricao {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .modules-content__courses-for {
        width: 80%;
    }

    #course-for-list > img {
        margin-top: 0.2rem;
        margin-right: 0.2rem;
    }

    #explicacao {
        width: 80%;
        font-size: 2rem;
        /* margin-top: -1rem; */
    }

    #texto-explicativo {
        width: 80%;
    }
/* 
    .modules-content--professora{
        width: 80%;
    } */

    #professora-info {
        text-align: center;
        /* width: 100%; */
        padding: 3rem ;
        
    }

    #historia-fran {
        text-align: center;
    }

    #historia-fran > h2 {
        margin-top: -3rem;
        padding-bottom: 1rem;
        text-align: center;
        font-size: 2.6rem;
    }


}

@media (orientation: landscape) and (min-width: 200px ) and (max-width: 844px) {
    nav {
        flex-direction: 100vw;
    }

    iframe {
        max-width: 80%; 
        height: 20rem; 
        margin: 1rem;
    }

    .purchase-information--item {
        padding: 1rem;
    }

    #explicacao {
        width: 80%;
    }

    #texto-explicativo {
        width: 80%;
    }



  }