:root {
    font-size: 16px;
    --bg-nav: #05040B;
    --bg-all: #090712;
    --primary-pink: #FF385C;
    --size-title-a1: 4.27rem;
    --size-span-alt: 1.58rem;
    --size-spacement: 3.75rem;
}

::selection {
  background-color: var(--primary-pink);
  color: white;
}

* {
    margin: 0 auto;
    padding: 0;
    background-color: var(--bg-all);
    font-family: "Inter", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: var(--size-span-alt);
    color: white;
}

nav {
    height: 5.375rem ;
    border-bottom: var(--primary-pink);
    border-style: solid;
    border-width: 1px;
    background-color: var(--bg-nav);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 90;
}

main {
    width: 62.24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 40;
}

header > h1 {
    color: white;
    text-align: center;
    background-color: transparent;

}

h1 > span {
    color: var(--primary-pink);
    /* background-color: transparent; */
    background-color: transparent;
    

}

header > p, strong {
    text-align: center;
    font-size: var(--size-span-alt);
    color: white;
    background-color: transparent;

}

header {
    margin-top: var(--size-spacement);
    margin-bottom: calc(var(--size-spacement) + 10px);
    position: relative;
    z-index: 30;
    margin-top: -5rem;
    background-color: transparent;

}

.blow-blur-effect {
    height: 15rem;
    width: 30rem;
    border-radius: 100rem;
    background-color: var(--primary-pink);
    filter:blur(15rem);
    margin-top: -10rem;
    margin-right: 1.5rem;
    position: relative;
    z-index: 20;

}

p > strong {
    text-decoration: underline;
    text-underline-offset: 1.25rem;
    text-decoration-thickness: 0.25rem;
    text-decoration-color:var(--primary-pink); 
    font-style: italic;
    background-color: transparent;

}

iframe {
    border-color: var(--primary-pink);
    border-radius: 1.70rem;
}

main > div {
    font-size: calc(var(--size-span-alt) - 0.16rem);
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.price, .price > strong{
    width: 100%;
}

.price > strong:first-child {
    font-style: italic;
    text-decoration: line-through;
}

.btn-highlight--pink {
    padding: 1.25rem 3.75rem;
    font-size: calc(var(--size-span-alt) - 0.5rem);
    color: white;
    border: none;
    background-color: var(--primary-pink);
    text-transform: uppercase;
    font-weight: 500;
    box-shadow: 0px 0px 2.5rem var(--primary-pink);
    border-radius: 0.59rem;
    cursor: pointer;
    transition: all .2s;
}

.btn-highlight--pink:hover {
    box-shadow: 0px 0px 25rem var(--primary-pink);
    transform: scale(1.03);

}

.btn-highlight--pink:active {
    transform: scale(0.99);
}

.btn-highlight--pink:visited {
    transform: scale(0.99);
}

body {
    margin-bottom: 6.25rem;
}

.purchase-conditions {
    display: flex;
    width: 37rem;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.purchase-conditions--both {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    transition: .2s ease-in-out all;
    opacity: 0.3;
    background-color: transparent;
}


.purchase-conditions--both > span, img {
    background-color: transparent;
}

.purchase-conditions--both:hover {
    transform: scale(1.03);
    opacity: 1;
    /* text-shadow: 0px 0px 0.5rem white; */

}

.purchase-conditions--image{
    width: 3.5rem;
    height: 6rem;
}

.purchase-conditions--describe{
    font-size: var(--size-span-alt);
    line-height: 2.5rem;
}

hr {
    border: none;
    height: 0.0625rem;
    background-color: var(--primary-pink); /* Modern Browsers */
}

#purchase-information {
    list-style: none;

}

#purchase-information > li {
    display: inline;
}



